{% extends 'files/layout.html' %}
{% load static %}
{% block stylesheet %}
{% endblock %}
{% block sidebar %}
<ul class="nav nav-pills flex-column mb-auto" style="color:#7AB2FF!important;">
  <li class="nav-item">
    <a href="{% url 'myfiles' %}" class="nav-link active" style="background-color:#7AB2FF!important;">
      <i class="fa fa-files-o" aria-hidden="true"></i> My Files
    </a>
  </li>
  <li>
    <a href="{% url 'shared_with_me' %}" class="nav-link link-dark">
      <i class="fa fa-user-plus" aria-hidden="true"></i> Shared With me
    </a>
  </li>
  <li>
    <a href="{% url 'mytrash' %}" class="nav-link link-dark">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Trash
    </a>
  </li>
  <li>
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
  </li>
</ul>
        {% endblock %}
{% block content %}
<h3> My Files</h3> 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Upload File:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'save' %}" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'files/form.html' %}
                <button type="submit" class="btn btn-block" style="background-color: #7AB2FF;">Upload File</button>
            </form>
        </div>
        <div class="modal-footer">  
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Share File:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="share_form" action="" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'files/share_form.html' %}
                <button type="submit" class="btn btn-block" style="background-color: #7AB2FF;">Share File</button>
            </form>
        </div>
        <div class="modal-footer">  
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Rename File:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="rename_form" action="" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'files/rename_form.html' %}
                <button type="submit" class="btn btn-block" style="background-color: #7AB2FF;">Rename File</button>
            </form>
        </div>
        <div class="modal-footer">  
        </div>
      </div>
    </div>
  </div>
  {% if files.count == 0 %}
  <div class="alert alert-primary" role="alert">It's empty here.... start uploading files...!!</div>
  {% else %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Created on</th>
        <th scope="col">File Size</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
          <td><a href="{{ file.file.url }}" target="_blank" >{{ file.file_name }}</a></td>
          <td>{{ file.uploader }}</td>
          <td>{{ file.uploaded_on }}</td>
          <td>{{ file.size }}</td>
          <td>
            <div class="dropdown mr-1">
                <button role="button" type="button" class="btn" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <a class="dropdown-item" href="{{ file.file.url }}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Download</a>
                  <a id="share" href="{% url 'share_file' file.id %}" class="dropdown-item" data-toggle="modal" data-target="#shareModal" onclick="setAction('share_form',this.href)"><i class="fa fa-share" aria-hidden="true"></i> Share</a>
                  <a id="rename" href="{% url 'rename_file' file.id %}" class="dropdown-item" data-toggle="modal" data-target="#renameModal" onclick="setAction('rename_form',this.href)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Rename</a>
                  <a class="dropdown-item" href="{% url 'move_to_trash' file.id %}"><i class="fa fa-trash" aria-hidden="true"></i> Move to trash</a>
                </div>
            </div>
          </td>
        </tr>
      </tbody>
        {% endfor %}
        {% endif %}
</table>
{% endblock %}
{% block javascript %}
{% if error %}
<script type="text/javascript">
$(document).ready(function(){
  $('#myModal').modal('show');
});
</script>
{% elif share_error %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#shareModal').modal('show');
  });
  </script>
{% endif %}
<script type="text/javascript">
  function setAction(form_id, url)
  {
      document.getElementById(form_id).action = url
  }
</script>
{% endblock %}